body{
  background-color:lightcyan;
  text-align: center;
  font-family: 'Tiro Devanagari Hindi', 
  serif;

}

h1{
  font-size: 50pt;
  margin-bottom: 135px;
}

p{
  font-size: 20pt;
  text-align: center;
}

.blue-text {
  color: blue;
}

#name {
  font-size: 25pt;
  color: black;
}

a{
  font-size: 20pt;
  color: blue;
  
}

a{
  text-align: center;
}

.p{
  text-align: center;
}

@media screen and (max-width: 1200px) {
  body {
    background: white;
  }
}

@media screen and (max-width: 768px) {
  body {
    background: rgb(229, 219, 219);
  }
}

@media screen and (max-width: 320px) {
  body {
    background: rgba(242, 242, 98, 0.134);
  }
}


/*Use media queries in a CSS 
file to change the page layout
 for mobile (320px), 
 tablet (768px) 
 and desktop (1200px+) screen sizes */
